### MATLAB ###
# Windows default autosave extension
*.asv

# Data 
data/raw/**/*.csv
data/raw/**/*.xlsx
data/raw/**/*.xls
!data/raw/**/monthly.csv
!data/raw/**/quarterly.csv
data/corrimientos/**/*.mat
data/fulldata/**/*.mat

# Backup temp data
backup/

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Matlab code generation folders
codegen/

# Simulink autosave extension
*.autosave

# Simulink cache files
*.slxc

# Octave session info
octave-workspace

# Other Ignored files
plots
plots\*\.png
*.pdf
*.pptx
*snapshot*
*.asv
*.png
!src/presentacion/star.png
**/~$*.xlsx
*.~f1
*.evsettings
*.~rg
*.db
